.segmentButton
{
	height: 0vh;
  align-content: center;
}
@font-face {
  font-family: 'HPTitle';
  src: URL('../assets/HPTitle.TTF') format('truetype');
}
@font-face {
  font-family: 'mapCaps';
  src: URL('../assets/map.ttf') format('truetype');
}
@font-face {
  font-family: 'map1';
  src: URL('../assets/map1.otf') format('truetype');
}
.ui.header.blue
{
	margin-top: 1.60em;
	font-size: 2.5em;
	font-family: 'Happy Monkey', cursive;
}
.ui.header.green
{
	margin-top: 0em;
	font-size: 4em;
	font-family: 'Happy Monkey', cursive;
}

.ui.header.black
{
	margin-top: 2em;
	font-size: 1.5em;
	font-family: 'Happy Monkey', cursive;
}
.ui.huge.green.button
{
	margin-bottom: 2em;
}

.mainDiv
{
	background-color: #480607;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.95;
}

.container {
	display: flex;
	justify-content: center;
/*   position: relative;
  width: 100%;
  max-width: 400px; */
}

.container img {
  width: 80vw;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: middle;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5vw, 30vh);
  -ms-transform: translate(-50%, -50%);
  background-color: #3c1414;
  opacity: 1;
  color: #e3d29d;
  opacity:0.9;
  font-family: "mapCaps";
  font-size: 50px;
  padding: 20px 28px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: #3c1414;
  opacity: 0.85;
}

/* .sketchContainer{
	display:table;
} */

.sketchC{
	display: table-cell;
  text-align: center;
  vertical-align: bottom;
}
.eButton{
	/* position: absolute;
	top: 0;
	border: 0; */
	background-color: #3c1414;
  opacity: 1;
  color: #e3d29d;
  opacity:0.9;
  font-family: "map1";
  font-size: 50px;
  padding: 20px 28px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.mButton{
	position: absolute;
	left: 0;
	bottom: 0;
	border: 0;
	background-color: #480607;
  opacity: 0.95;
  color: #e3d29d;
  opacity:0.9;
  font-family: "HPTitle";
  /* font-style: italic; */
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.banner{
	color: #3c1414;
  /* opacity:0.9; */
  font-family: "HPTitle";
	font-size: 55px;
	/* font-family: 'Happy Monkey', cursive; */
}

.dropbtn {
  background-color: #3c1414;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3c1414;
	opacity: 0.85;
}
