/* .segment
{
	height: 90vh;
} */
.ui.header.blue
{
	margin-top: 1.60em;
	font-size: 2.5em;
	font-family: 'Happy Monkey', cursive;
}
.ui.header.green
{
	margin-top: 0em;
	font-size: 4em;
	font-family: 'Happy Monkey', cursive;
}

.ui.header.black
{
	margin-top: 2em;
	font-size: 1.5em;
	font-family: 'Happy Monkey', cursive;
}
.ui.huge.green.button
{
	margin-bottom: 2em;
}

.mainDiv
{
	background-color: #480607;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.95;
}

.container {
	display: flex;
	justify-content: center;
/*   position: relative;
  width: 100%;
  max-width: 400px; */
}

.container img {
  width: 80vw;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: middle;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5vw, 30vh);
  -ms-transform: translate(-50%, -50%);
  background-color: #3c1414;
  opacity: 1;
  color: #e3d29d;
  opacity:0.9;
  font-family: "Trattatello", fantasy;
  font-style: italic;
  font-size: 50px;
  padding: 20px 28px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: #3c1414;
  opacity: 0.85;
}

.banner{
	color: #e3d29d;
  /* opacity:0.9; */
  font-family: "Trattatello", fantasy;
  font-style: italic;
	font-size: 4em;
	/* font-family: 'Happy Monkey', cursive; */
}
